<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HardingLaw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>978A197B1E59E877005AF43C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>978A19911E59E878005AF43C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>978A199C1E59E878005AF43C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
